{% extends 'clients/layouts/base.html' %}
{% load static %}
{% block title %} All Clients {% endblock %}

{% block content %}
    <section id="latest-clients">
        <div class="container">
            <h2>Our Latest registered clients</h2>  
                {% if show_clients == False %}
                    <div class="row">
                        {% for client in clients %}
                            {% include "clients/includes/client-card.html" with  name=client.name phone=client.phone  slug=client.slug %}
                        {% endfor %}
                      </div>
                {% else %}
                    <p>No meetups found</p>
                {% endif %}
        </div>
    </section>
{% endblock %}