{% extends 'clients/layouts/base.html' %}
{% load static %}
{% block title %} All Clients {% endblock %}

{% block content %}
    <section id="latest-clients">
        <div class="container">
            <h2>Our Latest registered clients</h2>  
                {% if show_clients == False %}
                    <div class="row">
                        {% for client in clients %}
                        <div class="col-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h4 class="card-title">{{ client.name }}</h4>
                                    <p class="card-text">Client details</p>
                                </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Name: {{ client.name }}</li>
                                        <li class="list-group-item">Phone: {{ client.phone }}</li>

                                        <a href="{% url 'client-details' client.slug %}" class="btn btn-primary">View More</a>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                      </div>
                {% else %}
                    <p>No meetups found</p>
                {% endif %}
        </div>
    </section>
{% endblock %}